body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.container {
  width: 90%;
}

.nowrap {
  white-space: nowrap;
}

.top-bar {
	display: block;
	width: 100%;
	height: 40px;
	background-color: #e7e7e7;
}